@import './themes.scss';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* overflow: hidden; */
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;

    transition: background-color 0.3s;
    background-color: var(--page-bg);
    color: var(--text);
}

.crossword {
    border-spacing: 0;
    margin: 10px;
}

.crossword td.cell {
    width: 60px;
    height: 60px;
    border: 1px solid var(--crossword-black-cell);
    display: inline-block;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    position: relative;
    background-color: var(--crossword-bg);
}

.crossword td.cell .number {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 4px;
}

.crossword td.cell:hover {
    background-color: var(--crossword-hover);
}

.crossword td.cell.selected {
    background-color: var(--crossword-selected);
}

.crossword td.cell.selected-alt {
    background-color: var(--crossword-selected-alt);
}

.crossword td.black, .crossword td.black:hover, .crossword td.black.selected {
    background-color: var(--crossword-black-cell);
    &.selected {
        border: 1px solid var(--crossword-selected);
    }
}

.container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    padding: 20px;
    max-height: 100vh;
    box-sizing: border-box;
}

.left-container {
    display: flex;
}

.clues-container {
    height: 100%;
}

.clues {
    overflow-y: scroll;
    height: calc(100vh - 100px);
    width: 20vw;
    list-style-type: none;
    padding-inline-start: 0;
}

.clues li {
    padding: 20px 20px;
}

.clues li.selected {
    background-color: #e7721260;
}

.clues li.selected-alt {
    background-color: #e772121e;
}

textarea {
    width: 100%;
    height: 4em;
}

.controls {
    position: absolute;
    top: 0;
    padding: 10px;
}