@import './themes.scss';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* overflow: hidden; */
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;

    transition: background-color 0.3s;
    background-color: var(--page-bg);
    color: var(--text);
}

.crossword {
    border-spacing: 0;
    margin: 10px;
}

.crossword td.cell {
    width: 60px;
    height: 60px;
    border: 1px solid var(--crossword-black-cell);
    display: inline-block;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    position: relative;
    background-color: var(--crossword-bg);
    cursor: pointer;

    &.selected {
        background-color: var(--crossword-selected);
    }

    &.selected-alt {
        background-color: var(--crossword-selected-alt);
    }

    &:hover {
        background-color: var(--crossword-hover);
    }

    &.black {
        background-color: var(--crossword-black-cell);
        &.selected {
            border: 1px solid var(--crossword-selected);
        }
    }

    .number {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 16px;
        padding: 4px;
    }
}

.crossword td.black, .crossword td.black:hover, .crossword td.black.selected {
    background-color: var(--crossword-black-cell);
    &.selected {
        border: 1px solid var(--crossword-selected);
    }
}

.container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    padding: 20px;
    max-height: 100vh;
    box-sizing: border-box;
}

.left-container {
    display: flex;
}

.clues-container {
    height: 100%;
}

.clues {
    overflow-y: scroll;
    height: calc(100vh - 100px);
    width: 20vw;
    list-style-type: none;
    padding-inline-start: 0;

    li {
        padding: 20px 20px;
        
        &.selected {
            background-color: var(--clues-selected);
        }

        &.selected-alt {

            background-color: var(--clues-selected-alt);
        }
    }
}

textarea {
    width: 100%;
    height: 4em;
}

.controls {
    position: absolute;
    top: 0;
    padding: 10px;
}

kbd {
    display: inline-block;
    background-color: var(--kbd-bg);
    color: var(--kbd-text-color);
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    min-width: 1em;
    text-align: center;
}

.popup-container {
    background-color: #000000e0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    backdrop-filter: blur(10px);
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;

    .popup {
        background-color: var(--page-bg);
        text-align: left;
        margin: auto;
        cursor: default;
        padding: 20px;
        transform: translateY(-200px);
        transition: transform 0.5s;
        max-height: 80vh;
        max-width: 60vw;
        overflow-y: auto;
    }

    &.show {
        visibility: visible;
        opacity: 1;
        .popup {
            transform: translateY(0px);
        }
    }
}

.suggestion-box {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: var(--suggestion-bg);
    padding: 5px;
    backdrop-filter: blur(3px);
    
    &.show {
        visibility: visible;
    }

    .suggestions > div {
        cursor: pointer;
        &:hover {
            background-color: var(--suggestion-hover);
        }
    }
}

.changelog {
    padding: 0px 20px;
    .changelog-title {
        display: flex;
        justify-content: space-between;
    }
}