body {
    --page-bg: #fff;
    --text: #1e1e1e;
    --crossword-bg: #fff;
    --crossword-black-cell: #1e1e1e;
    --crossword-selected: paleturquoise;
    --crossword-selected-alt: azure;
    --crossword-hover: #dbcea1;
    &.dark {
        --page-bg: #2b2b2b;
        --text: #ffffff;
        --crossword-bg: #202533;
        --crossword-black-cell: #0d131b;
        --crossword-selected: #c56415;
        --crossword-selected-alt: #9e5519;
        --crossword-hover: #91552d;
    }
}